---
import { classes } from '@/data/site-data'
---

<section id='classes' class='pt-40 text-white'>
  <div class='container max-w-7xl'>
    <h2 class='text-big font-secondary'>OUR CLASSES</h2>
  </div>
  <hr class='my-4 text-white/50' />
  <div class='container flex max-w-7xl flex-col gap-8 lg:flex-row'>
    <!-- DINAMIC IMAGE -->
    <div
      class='w-70 relative top-0 hidden h-96 shrink-0 rounded-2xl transition-all duration-300 lg:block shadow-2xl shadow-white/20'
    >
      <img
        id='dinamicImage'
        src=''
        alt='class preview'
        class='size-full rounded-2xl object-cover transition-opacity duration-300'
      />
    </div>

    <!-- Lista de clases -->
    <div class='flex-1 space-y-12'>
      {
        classes.map((category) => (
          <div>
            <span class='text-sm font-medium uppercase text-white/70'>
              {category.category}
            </span>
            <ul class='mt-2' id='listClasses'>
              {category.classesAvailable.map((item) => (
                <li
                  data-imgsrc={item.imgsrc}
                  class='group relative flex cursor-pointer justify-between border-b border-b-white/50 py-4 pr-4 transition-all duration-300'
                >
                  <div class='bg-primary ease-bezier pointer-events-none absolute inset-0 origin-top scale-y-0 transition-transform duration-300 group-hover:scale-y-100' />
                  <div class='font-secondary ease-bezier relative block text-5xl uppercase transition-transform duration-300 group-hover:translate-x-4'>
                    {item.name}
                  </div>
                  <div class='relative mt-2 flex gap-8 text-xs uppercase text-white opacity-0 transition duration-300 group-hover:opacity-100'>
                    <div>
                      <div class='text-white/75'>Goal</div>
                      <div>{item.goal}</div>
                    </div>
                    <div>
                      <div class='text-white/75'>Duration</div>
                      <div>{item.duration}</div>
                    </div>
                    <div>
                      <div class='text-white/75'>Membership</div>
                      <div>{item.membership}</div>
                    </div>
                  </div>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  const dinamicImage = $('#dinamicImage') as HTMLImageElement
  const parentDinamicImage = dinamicImage.parentElement
  const listClasses = $$('#listClasses > li')
  listClasses.forEach((item) => {
    const dataSrcImage = item.dataset.imgsrc
    let { top } = item.getBoundingClientRect()
    top = top - listClasses[0].getBoundingClientRect().top
    item.addEventListener('mouseenter', (e) => {
      dinamicImage.src = dataSrcImage || ''
      parentDinamicImage && (dinamicImage.parentElement.style.top = `${top}px`)
    })
  })

  // When the page loads, the first image will be displayed
  dinamicImage.src = listClasses[0].dataset.imgsrc || ''
  parentDinamicImage && (dinamicImage.parentElement.style.top = '0')
</script>
